<h1>Módulo de Clientes</h1>
<div class="content">
    
  <div class="overlay" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
<button mat-raised-button   class="Agregar-cliente" (click)="OpenDialogagregarCliente()">Agregar Cliente <mat-icon>person</mat-icon></button>
<table mat-table [dataSource]="clientes" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Folio </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
 

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <ng-container matColumnDef="localidad">
        <th mat-header-cell *matHeaderCellDef> Localidad </th>
        <td mat-cell *matCellDef="let element"> {{element.localidad}} </td>
    </ng-container>

    <ng-container matColumnDef="deudas">
        <th mat-header-cell *matHeaderCellDef>Cuenta de Cliente </th>
        <td mat-cell *matCellDef="let element"> <button mat-mini-fab  class="btn" (click)="OpenDialogDeudasCliente(element.id,element.nombre)"> <mat-icon class="icon">folder</mat-icon> </button> </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Información de Cliente</th>
        <td mat-cell *matCellDef="let element"> <button mat-mini-fab class="btn" (click)="OpenDialogverCliente(element.id)"> <mat-icon class="icon">info</mat-icon> </button> </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Modificar Cliente</th>
        <td mat-cell *matCellDef="let element"> <button mat-mini-fab class="btn" (click)="OpenDialogEditarCliente(element.id)"> <mat-icon class="icon">edit</mat-icon> </button> </td>
    </ng-container>

    <!-- Continúa con las demás columnas según el modelo -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row  class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>