.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.content-fecha-impresion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.content-concepto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.content-descripcion {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.content-total {
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.content-infocliente {
    width: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.content-Fvencimiento {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.content-localidad {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.content-telefono {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.content-plan {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
 
}
p{
    font-family: 'Poppins', sans-serif;
 
}
.logo{
    width: 100px;
}