<h1>Modulo de Planes de Internet</h1>
<div class="content">
<button mat-raised-button   class="Agregar-cliente" (click)="OpenDialogagregarPlan()">Agregar Nuevo Plan<mat-icon>person</mat-icon></button>

<table mat-table [dataSource]="planes" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Folio </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Asegúrate de que los nombres de las columnas coincidan con las propiedades del modelo -->
    <!-- Por ejemplo, si el modelo tiene una propiedad 'nombre', entonces usa 'nombre' como nombre de columna -->

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="renta">
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element"> ${{element.costoRenta}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Modificar Plan</th>
        <td mat-cell *matCellDef="let element"> <button mat-mini-fab class="btn-editar" (click)="OpenDialogEditar(element.id)"> <mat-icon>edit</mat-icon> </button></td>
    </ng-container>

    <!-- Continúa con las demás columnas según el modelo -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="mat-row" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>